<header>
	{{ strings.Repeat ( .Site.Title | len | add 16 ) " " }}<br>
	== <a href="{{ .Site.BaseURL }}" style="font-weight: bold; font-size: xx-large; " >{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 16 ) " " }}<br>
	<div style="float: left; font-family: sans-serif; font-size: smaller;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav style="float: right;">
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
